<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="contact.css">
    <link href="//db.onlinewebfonts.com/c/5c803199923a6ed48112bebbb486b3e0?family=Lora" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/750e3658d4460a397a551dfac26bb272?family=Karla" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope) {
          $scope.submitForm = function(isValid) {
              if (isValid) {
                  alert('Query submitted successfully!');
              }
          };
      });
      </script>
</head>

<body>
    <div class="navbar">
        <nav>
          <label class="logo">Helpify</label>
          <ul>
            <li><a href="homepage.html">About Us</a></li>
            <li><a href="findngo.html">Find your NGO!</a></li>
            <li><a href="ngo-ngo.html">NGO-NGO</a></li>
            <li><a class="active" href="contact.html">Contact us</a></li>
            <li><a href="login+reg.html">Login</a></li>
          </ul>
        </nav>
      </div>

<div class="main">
  <div class="left">
      <h3>Contact Us</h3>
      <h1>Get in Touch with Us</h1><br>
      <p style="text-align: left; font-family: Karla; margin-right: 10px;">Hi there! Thanks for visiting our Contact Us page. We're here to lend a helping hand and answer any questions you may have. Don't hesitate to reach out to us, we're always happy to hear from you. Use any of the methods listed below to get in touch.</p>
      <br><h4>Phone Number</h4>
      <p align="left">+91 9876543201</p>
      <br><h4>Email Address</h4>
      <p align="left">text@gmail.com</p><br>
      <h4>Our location</h4>
      <p align="left">NMIMS, near Pethpada Metro Station, Sector-33, Kharghar, Navi Mumbai, Maharashtra, 410210</p><br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.986028602408!2d73.07563301472153!3d19.064351887094613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c1fa2d330e2b%3A0xfb8df77eb24acba7!2sNMIMS%20Navi%20Mumbai!5e0!3m2!1sen!2sin!4v1675785536226!5m2!1sen!2sin" width="300" height="130" style="border:0; margin-left: -50px; border-radius: 5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  <div class="right">
  <form action="query.php" method="post" name="myForm" ng-submit="submitForm(myForm.$valid)"><br><br><br><br><br><br>
    <input type="text" name="name" ng-model="name" placeholder="Your Name" required pattern="[A-Za-z\s]+" /><br>
    <div ng-show="myForm.name.$dirty && myForm.name.$invalid">
      <span ng-show="myForm.name.$error.required" style="color: red;">Name is required.</span>
      <span ng-show="myForm.name.$error.pattern" style="color: red;">Invalid Name.</span>
    </div>
    <input type="email" name="email" ng-model="email" placeholder="Your Email" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" /><br>
    <div ng-show="myForm.email.$dirty && myForm.email.$invalid">
        <span ng-show="myForm.email.$error.required" style="color: red;">Email is required.</span>
        <span ng-show="myForm.email.$error.pattern" style="color: red;">Invalid email address.</span>
    </div>
    <input type="tel" name="phone" ng-model="phone" placeholder="Your Phone" required pattern="^[0-9]{10}$" /><br>
    <div ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
        <span ng-show="myForm.phone.$error.required" style="color: red;">Phone number is required.</span>
        <span ng-show="myForm.phone.$error.pattern" style="color: red;">Invalid phone number.</span>
    </div>
    <textarea name="message" ng-model="message" placeholder="Your Query" rows="5" cols="35" required></textarea><br><br>
    <input type="submit" name="save" value="Submit your message" ng-disabled="myForm.$invalid">
  </form>
  </div>
</div>

<div class="footer">
  <p style="font-family: Inter; font-size: 17px; font-weight: bold;">Reach out to us</p><br>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-instagram"></a>
  <a href="#" class="fa fa-youtube"></a>
  <a href="#" class="fa fa-linkedin"></a>
</div>

<div>
  <p style="font-family: Inter; text-align: center; margin-top: 5px; font-weight: bold; color:white;">&copy; 2023 <a href="homepage.html">Helpify</a> | All Rights Reserved</p>
</div>

</body>
</html>