*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("http://localhost/Helpify/images/kids.sun.avif");
  background-size: 1560px 1170px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:0 60% ;
}

#overlay-content label {
  display: block;
  margin-bottom: 10px;
}
#overlay-content input[type="text"], textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#overlay-content input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#overlay-content input[type="submit"]:hover {
  background-color: #45a049;
}
.ng-invalid {
  border-color: red;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
  }
  
  #overlay-content {
  width: 50%;
  display: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .form-actions{
    text-align: center;
  }
  .form-row label {
    flex: 0 0 50%;
    padding-right: 1rem;
  }
  .form-row input[type="text"],
  .form-row select,
  .form-row textarea {
    flex: 0 0 50%;
    width: 100%;
  }
  .form-row input[type="file"] {
    flex: 0 0 50%;
    width: 100%;
    margin-right: 1rem;
  }
  @media screen and (max-width: 767px) {
    .form-row label {
      flex: 0 0 100%;
      padding-right: 0;
    }
    .form-row input[type="text"],
    .form-row select,
    .form-row textarea,
    .form-row input[type="file"] {
      flex: 0 0 100%;
    }
  }

  .error {
    color: red;
    font-size: 12px;
  }

  /* style for error input fields */
  input.ng-invalid, textarea.ng-invalid {
    border-color: red;
  }



.navbar{
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  top: 0px;
  position: sticky;
  z-index: 1;
}

  .logo{
    /*color:#05386B;*/
    color: #000000;
    font-size: 35px;
    line-height: 80px;
    margin: 10%;
    margin-top: 3px;
  }
  nav ul{
    float: right;
    margin-right: 10%;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #394D55;
    font-size: 15px;
    font-family: "Inter",sans-serif;
    padding: 7px 13px;
    border-radius: 50px;
  }
a.active,a:hover{
  background: #3E7D98;
  transition: 0.5s;
  color: #ffffff;
}

.p1{
  width: 100%;
  height: 300px;
  padding: 50px;
  margin-top: 50px;
}

.us{
  color: white;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: medium;
}


/*.h1{
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: white; 
  text-align: center;
  font-size: 40px;
}*/

.quote{
  width: 100%;
  height: 250px;
  padding: 50px;
  margin-top:50px;
  background-color: #fefefe;
  border-radius: 10px;
}



.main_body{
  width: 80%;
  margin-left: 10%;
  margin-top: 60px;
  padding-top: 20px;
}



.work{
  border: #fefefe;
  margin-top: 20px;
  height: 500px;
  width: 80%;
  margin-left: 10%;
}


.register{
  background-color: transparent;
  border: 2px solid white;
  color: #fefefe;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  margin-top: 40px;
  margin-left: 43%;
}

.register:hover{
  transition: 0.5s;
  background-color: #3E7D98;
  border: none;
}

.middle{
  margin: 0px;
  margin-left: -20%;
  padding: 0px;
  width: 140%;
  background: white;
}

.quote{
  margin-left:10%;
  margin-top: 70px;
  width: 80%;
  text-align: center;
}


.bg{
  background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url("/images/award.avif");
  width: auto;
  height: 600px;
  background-size: cover;
}

.mySlides {display:none;} 


.fa {
  padding: 20px;
  padding-top: 27px;
  font-size: 30px;
  width: 70px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 70px;
  margin-left: 10px;
  margin-right: 10px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {  
  background: #125688;  
  color: white; 
}
.fa-youtube {  
  background: #bb0000;  
  color: white;  
} 
.fa-linkedin {  
  background: #007bb5;  
  color: white;  
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  margin-top: 10px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  height: 150px;
  font-family: "Inter",sans-serif;
}

.carousel {
  height: 580 px;
}

.carousel .item {
  height: 100%;
  background-size: cover;
  background-position: center;
}


.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffffff;
}

.carousel-control {
  background: none;
  border: none;
  font-size: 50px;
  color: #ffffff;
  opacity: 0.5;
}

.carousel-control:hover {
  color: #ffffff;
  opacity: 1;
}

.carousel-control.left {
  left: 0px;
}

.carousel-control.right {
  right: 20px;
}

.carousel-indicators {
  bottom: 20px;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.carousel-indicators li.active {
  background-color: rgb(255, 255, 255);
} 
